    <div class="container">

        <div class="row">
            <!--
            <img src="img/transaktioner/2326x800-Financing-2016-bre-imgtxt.jpg" class="img-responsive" alt="Tv책 personer"> 
           
            -->
            
            
     {{#if test_msg}}

	<div class="alert alert-success alert-dismissible show alert-custom flash-msg" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                	<span aria-hidden="true">&times;</span>
                </button>
 			{{test_msg}}
	</div>
{{/if}}
       

    

   
     
  
        </div>
        
        <div class="row">
            
        
            
            
        <div class="text-center animated fadeInDown">
            <p class="pusername">Hej {{user.firstname}}</p>
            
        </div>
            
            
            
        </div>
        <div class="row animated fadeInRight" id="section1">
   
                    
 <h2>Anv채ndarinfo</h2>
             
  
       
     {{#if user}}
             
        
      

        
    
        
        <p>{{user.username}}</p>
        <p>{{user.firstname}}</p>
        <p>{{user.lastname}}</p>
        <p>{{user.address}}</p>
        <p>{{user.city}}</p>
        <p>{{user.phone}}</p> 
        <p>{{user.email}}</p> 
      
     
       
      
        
       {{else}}
        
        {{/if}}
   
   
        
        
        
        </div>
 
        
       

       

        <div class="row animated fadeInLeft" id="section2">

  
            
 <h2>Resor</h2>
             
  <table class="table">
    <thead>
      <tr>
          
       
        <th>Avg책ngsstad</th>
        <th>Ankomststad</th>
        <th>Avg책ng</th>
        <th>Ankomst</th>
        <th>Platser</th>
        <th>Kostnad</th>

      </tr>
    </thead>
      
    <tbody>
       {{#kund}}
     
      <tr>
        
       
        <td>{{avgangsstad}}</td>
        <td>{{ankomststad}}</td>
        <td>{{avgang}}</td>
        <td>{{ankomst}}</td>
        <td>{{platser}}</td>
        <td>{{kostnad}}</td>
        
      </tr>
        
   
    {{/kund}}
    </tbody>
  </table>
           
 </div>
    



 </div> 















