<div class="container">
    <div class="row"><img alt="Passagerare står och väntar" class="img-fluid" src="/img/kundregister/kundregister1.jpg"></div>
    <div class="row">
        <div class="col-lg-10">
            <h2>Kundregister</h2>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-success btn-block" data-target="#formModal" data-toggle="modal" style="float:right; margin-top: 20px; margin-bottom: 20px;;" type="button">Ny kund +</button>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>KundID</th>
                    <th>Förnamn</th>
                    <th>Efternamn</th>
                    <th>Adress</th>
                    <th>Stad</th>
                    <th>Email</th>
                    <th>Telefon</th>
                </tr>
            </thead>
            {{#kund}}
            <tbody>
                <tr>
                    <td>{{kundid}}</td>
                    <td>{{fornamn}}</td>
                    <td>{{efternamn}}</td>
                    <td>{{adress}}</td>
                    <td>{{stad}}</td>
                    <td>{{epost}}</td>
                    <td>{{telefon}}</td>
                </tr>
            </tbody>
            {{/kund}}
        </table>
    </div>
    </div><!-- Modal -->
    <div aria-labelledby="formModalLabel" class="modal fade" id="formModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/users/register" method="post">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Registrera ny kund</h4><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>Förnamn</label> <input class="form-control" name="firstname" placeholder="Förnamn" required="" type="text">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Efternamn</label> <input class="form-control" name="lastname" placeholder="Efternamn" required="" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>Address</label> <input class="form-control" name="address" placeholder="Address" required="" type="text">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Stad</label> <input class="form-control" name="city" placeholder="Stad" required="" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>Telefon</label> <input class="form-control" name="phone" placeholder="0701112233" required="" type="text">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>E-post</label> <input class="form-control" name="email" placeholder="E-post" required="" type="email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Användarnamn</label> <input class="form-control" name="username" placeholder="Användarnamn" required="" type="text">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label>Lösenord</label> <input class="form-control" name="password" placeholder="Lösenord" required="" type="password">
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Lösenord</label> <input class="form-control" name="password2" placeholder="Lösenord" required="" type="password">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Avbryt</button> <input class="btn btn-primary" type="submit" value="Spara">
                </div>
            </form>
        </div>
    </div>
</div>