



       <div class="container">
        <div class="row">
           
            <img src="/img/kundregister/kundregister1.jpg" class="img-fluid" alt="Passagerare står och väntar">

        
        
    
           </div>
           
            
{{#if test_msg}}

	<div class="alert alert-success alert-dismissible show alert-custom flash-msg" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                	<span aria-hidden="true">&times;</span>
                </button>
 			{{test_msg}}
	</div>
{{/if}}
           
           
        
           
   <div class="row">
           
         
           
        <div class="col-lg-10">
        <h2>Kundregister</h2>
            
            </div>
               <div class="col-lg-2">
                <button type="button" class="btn btn-success btn-block" style="float:right; margin-top: 20px; margin-bottom: 20px;;" data-toggle="modal" data-target="#formModal">Ny kund +</button>
            </div>  
            </div>
         
           


<div class="row">

         
  <table class="table">
     
      
    <thead>
      <tr>
        <th>KundID</th>
        <th>Förnamn</th>
        <th>Efternamn</th>
        <th>Adress</th>
        <th>Stad</th>
        <th>Email</th>
        <th>Telefon</th>
      </tr>
        
    </thead>
  
    <tbody>
     {{#kund}} 
      <tr>
        <td>{{kundid}}</td>
        <td>{{fornamn}}</td>
        <td>{{efternamn}}</td>
        <td>{{adress}}</td>
        <td>{{stad}}</td>
        <td>{{epost}}</td>
        <td>{{telefon}}</td>
      </tr>
    {{/kund}}
      </tbody> 
</table>

    </div>
</div>




           

        

        


<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        
        <form method="POST" action="/users/register">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Registrera ny kund</h4>
      </div>
   
    <div class="row">
    
   <div class="form-group col-lg-6">
    <label>Förnamn</label>
    <input type="text" class="form-control" placeholder="Förnamn" name="firstname">
  </div>
    <div class="form-group col-lg-6">
    <label>Efternamn</label>
    <input type="text" class="form-control" placeholder="Efternamn" name="lastname">
  </div>
    

        </div>

    
    <div class="row"> 
  
    
    <div class="form-group col-lg-6">
    <label>Address</label>
    <input type="text" class="form-control" placeholder="Address" name="address">
  </div>
    <div class="form-group col-lg-6">
    <label>Stad</label>
    <input type="text" class="form-control" placeholder="Stad" name="city">
  </div>
    
   
    
   
 </div>
            
            <div class="row"> 
    
       
    
    <div class="form-group col-lg-6">
    <label>Telefon</label>
    <input type="text" class="form-control" placeholder="0701112233" name="phone">
  </div>
    
  <div class="form-group col-lg-6">
    <label>E-post</label>
    <input type="email" class="form-control" placeholder="E-post" name="email">
  </div>
        
   
         </div>

   <div class="row">
        
   
        
    <div class="col-lg-12">
    <label>Användarnamn</label>
    <input type="text" class="form-control" placeholder="Användarnamn" name="username">
     </div>    
     
        

        </div>
    
   <div class="row"> 
  
        
  <div class="form-group col-lg-6">
    <label>Lösenord</label>
    <input type="password" class="form-control" placeholder="Lösenord" name="password">
  </div>
  <div class="form-group col-lg-6">
    <label>Lösenord</label>
    <input type="password" class="form-control" placeholder="Lösenord" name="password2">
  </div>
 </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
        <input type="submit" class="btn btn-primary" value="Spara" />
      </div>
        </form>
    </div>
  </div>
</div>
   
        
        
    