
  

    <!-- Page Content -->
       <div class="container">
           
    <div class="row">
           
                 <img src="img/chaufförregister/chaufförregister1.jpg" class="img-fluid" alt="En busschaufför"> 
        <!-- /.row -->
        
           </div>
           
     
        {{#if test_msg}}

	<div class="alert alert-success alert-dismissible show alert-custom flash-msg" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                	<span aria-hidden="true">&times;</span>
                </button>
 			{{{test_msg}}}
	</div>
        
       {{/if}}
        
        
        {{#if fail_msg}}

	<div class="alert alert-danger alert-dismissible show alert-custom flash-msg" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                	<span aria-hidden="true">&times;</span>
                </button>
 			{{{fail_msg}}}
        </div>
    
        {{/if}}
    
           
     <div class="row">
           
         
           
        <div class="col-lg-10">
        <h2>Chaufförregister</h2>
            
        </div>
               <div class="col-lg-2">
                <button type="button" class="btn btn-success btn-block" style="float:right; margin-top: 20px; margin-bottom: 20px;;" data-toggle="modal" data-target="#formModal">Ny chaufför +</button>
            </div>   
            
            </div>

            
         
 
        <div class="row">
           

    
        
        
        

             
  <table class="table">
    <thead>
      <tr>
        <th>Personnummer</th>
        <th>Förnamn</th>
        <th>Efternamn</th>
        <th>Adress</th>
        <th>Stad</th>
        <th>Hemtelefon</th>
      </tr>
    </thead>
    <tbody>
       {{#chauffor}} 
      <tr>
        <td>{{chaufforid}}</td>
        <td>{{fornamn}}</td>
        <td>{{efternamn}}</td>
        <td>{{adress}}</td>
        <td>{{stad}}</td>
        <td>{{hemtelefon}}</td>
      </tr>
    {{/chauffor}}
    </tbody>
  </table>
            
           

         </div>   
            
        </div> 
           
    

   

       

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form method="POST" action="/createDriver">
      <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Registrera ny chaufför</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
      </div>
      <div class="modal-body">

<div class="container">
          
    <div class="row">
         <div class="col-lg-6">
  <div class="form-group" >
    <label for="fornamn">Förnamn</label>
    <input type="text" class="form-control" name="fornamn" placeholder="ex Johan" required>
  </div>
      </div>
      <div class="col-lg-6">
  <div class="form-group" >
    <label for="efternamn">Efternamn</label>
    <input type="text" class="form-control" name="efternamn" placeholder="ex Persson" required>
  </div>
      </div>
        
       </div>
    
    <div class="row">
      
    <div class="col-lg-6">
    <div class="form-group">
        
    <label for="adress">Adress</label>
    <input type="text" class="form-control" name="adress" placeholder="ex Storgatan 15" required>
  </div>
      </div>
      <div class="col-lg-6">
      <div class="form-group">
    <label for="stad">Stad</label>
    <input type="text" class="form-control" name="stad" placeholder="ex Stockholm" required>
  </div>
      </div>
      </div>
          <div class="row">
           <div class="col-lg-6">
  <div class="form-group" >
    <label for="chaufforid">Personummer</label>
    <input type="text" class="form-control" name="chaufforid" placeholder="ex 550122-1234" required>
  </div>
      </div>
    
      <div class="col-lg-6">
    <div class="form-group">
    <label for="hemtelefon">Hemtelefon</label>
    <input type="number" class="form-control" name="hemtelefon" placeholder="ex 040123456" required>
  </div>
      </div>
    
  </div>
    
      </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
        <input type="submit" class="btn btn-primary" value="Spara" />
      </div>
    </form>
    </div>
  </div>
</div>
    

