




    <div class="container">

        <div class="row">
            
            <img src="img/transaktioner/2326x800-Financing-2016-bre-imgtxt.jpg" class="img-responsive" alt="Två personer"> 
           
    
            
            
     {{#if test_msg}}

	<div class="alert alert-success alert-dismissible show alert-custom flash-msg" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                	<span aria-hidden="true">&times;</span>
                </button>
 			{{test_msg}}
	</div>
{{/if}}
       

    

   
     
  
        </div>
        
        
 
        
       

       

        <div class="row">

  
            
 <h2>Köpta Resor</h2>
             
  <table class="table">
    <thead>
      <tr>
        <th>Transid</th>
        <th>Kundid</th>
        <th>Förnamn</th>
        <th>Efternamn</th>
        <th>Avgångsid</th>
        <th>Avgångsstad</th>
        <th>Ankomststad</th>
        <th>Avgång</th>
        <th>Ankomst</th>
        <th>Platser</th>
        <th>Kostnad</th>
          
        
        
      </tr>
    </thead>
    <tbody>
       {{#kund}}
    <form method="post" action="/deleteTransaction">
        
        
        
      <tr>
        
        <td>{{transaktionsid}}</td>
        <td>{{kundid}}</td>
        <td>{{fornamn}}</td>
        <td>{{efternamn}}</td>
        <td>{{avgangsid}}</td>
        <td>{{avgangsstad}}</td>
        <td>{{ankomststad}}</td>
        <td>{{avgang}}</td>
        <td>{{ankomst}}</td>
        <td>{{platser}}</td>
        <td>{{kostnad}}</td>
        
        <td>
          
            
            <input type="text" name="transaktionsid" value={{transaktionsid}} hidden>    
            <input type="text" name="avgangsid" value={{avgangsid}} hidden>
            <input type="text" name="platser" value={{platser}} hidden>    
            
        
            
            <button type="submit" class="btn btn-danger">
            <span class=" glyphicon glyphicon-trash" area-hidden="true"></span>
            </button>
           
            
        </td>
          
      </tr>
        
    </form>
    {{/kund}}
    </tbody>
  </table>
           
 </div>
    



 </div> 















