<div class="container">
    <div class="row">
        <img alt="En buss" class="img-fluid" src="img/reseregister/reseregister1.jpg"> <!-- /.row -->
    </div>{{#if test_msg}}
    <div class="alert alert-success alert-dismissible show alert-custom flash-msg" role="alert">
        <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button> {{test_msg}}
    </div>{{/if}} {{#if fail_msg}}
    <div class="alert alert-danger alert-dismissible show alert-custom flash-msg" role="alert">
        <button aria-label="Close" class="close" data-dismiss="alert" type="button"><span aria-hidden="true">&times;</span></button> {{{fail_msg}}}
    </div>{{/if}}
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h2>Reseregister</h2>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-success btn-block" data-target="#formModal1" data-toggle="modal" style="margin-top: 20px; margin-bottom: 20px;" type="button">Redigera chaufför +</button>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-success btn-block" data-target="#formModal" data-toggle="modal" style="margin-top: 20px; margin-bottom: 20px;" type="button">Ny resa +</button>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Avgångsid</th>
                        <th>Avgångsland</th>
                        <th>Avgångsstad</th>
                        <th>Ankomstland</th>
                        <th>Ankomststad</th>
                        <th>Avgång</th>
                        <th>Ankomst</th>
                        <th>Pris</th>
                        <th>Platser</th>
                        <th>Chaufförid</th>
                    </tr>
                </thead>
                {{#resa}}
                <tbody>
                    <tr>
                        <td>{{avgangsid}}</td>
                        <td>{{avgangsland}}</td>
                        <td>{{avgangsstad}}</td>
                        <td>{{ankomstland}}</td>
                        <td>{{ankomststad}}</td>
                        <td>{{avgang}}</td>
                        <td>{{ankomst}}</td>
                        <td>{{pris}}</td>
                        <td>{{platser}}</td>
                        <td>{{chaufforid}}</td>
                    </tr>
                </tbody>
                {{/resa}}
            </table>
        </div><!-- Modal -->
        <div aria-labelledby="formModalLabel" class="modal fade" id="formModal" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="/createTrip" method="post">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Skapa ny resa</h4><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="avgangsland">Avgångsland</label> <input class="form-control" name="avgangsland" placeholder="ex Sverige" required="" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="avgangsstad">Avgångsstad</label> <input class="form-control" name="avgangsstad" placeholder="ex Malmö" required="" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="ankomstland">Ankomstland</label> <input class="form-control" name="ankomstland" placeholder="ex Spanien" required="" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="ankomststad">Ankomststad</label> <input class="form-control" name="ankomststad" placeholder="ex Madrid" required="" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="avgang">Avgång</label> <input class="form-control" name="avgang" placeholder="ex 13:00" required="" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="ankoms">Ankomst</label> <input class="form-control" name="ankomst" placeholder="ex 18:30" required="" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="pris">Pris</label> <input class="form-control" name="pris" placeholder="ex 599" required="" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="platser">Platser</label> <input class="form-control" name="platser" placeholder="ex 45" required="" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="chaufforid">Chaufförid</label> <input class="form-control" name="chaufforid" placeholder="ex 551122-3344" required="" type="text" value="Ej bestämt">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal" type="button">Avbryt</button> <input class="btn btn-primary" type="submit" value="Spara">
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- Modal 2 -->
        <div class="row">
            <div class="col-lg-12">
                <div aria-labelledby="formModalLabel" class="modal fade" id="formModal1" role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form action="/tripEditDriver" method="post">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">Redigera chaufför</h4><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="avgangsland">Avgångsid</label> <input class="form-control" name="avgangsid" placeholder="ex 5" required="" type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="avgangsstad">Chaufförid</label> <input class="form-control" name="chaufforid" placeholder="ex 112233-4455" required="" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default" data-dismiss="modal" type="button">Avbryt</button> <input class="btn btn-primary" type="submit" value="Spara">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>